.Header{
    width: auto;
    height: 0%;
    top: 30%;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    text-align: center;

    color: #FFFFFF;
}

.subHeader{

    position: absolute;
    width: 426px;
    height: 56px;
    top: 65%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    text-align: center;

    color: rgba(255, 255, 255, 0.7);

}

.subHeaderTitle{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    text-align: center;

    color: #464547;

}

.subHeaderText{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    text-align: center;

    color: #666666;
}

.bodyText{
    font-family: 'Source Sans Pro';
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 983px;
    margin: 0 auto;

    color: #000000;
}

.subBodyText{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    text-align: center;

    color: #FFFFFF;
}

.footerText{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    justify-content: left;
    margin-left: 100px;

    color: rgba(255, 255, 255, 0.4);
}

.footerTitle{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 100px;
    
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .footerText{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        justify-content: left;
        margin-left: 50px;
    
        color: rgba(255, 255, 255, 0.4);
    }
    
    .footerTitle{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-left: 50px;
        
        color: #FFFFFF;
    }

    .bodyText{
        font-family: 'Source Sans Pro';
        font-style: normal;
        text-align: justify;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 400px;
        margin: 0 auto;
    
        color: #000000;
    }

    .subHeaderTitle{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        margin: 0 20px;
    
        text-align: left;
    
        color: #464547;
    
    }
    
    .subHeaderText{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin: 0 20px;
    
        text-align: left;
    
        color: #666666;
    }
}
