@mixin mobile-styles {
    .menuProject {
      position: absolute;
      width: 91px;
      height: 16px;
      left: 50px;
      top: 35px;
      z-index: 1;
  
      font-family: $font-family;
      font-style: normal;
      font-weight: $font-weight-bold;
      font-size: $font-size;
      line-height: $line-height;
  
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      text-decoration: none;
  
      color: $white;
    }
  
    footer {
      display: block;
    }
  
    .footerColumn {
      flex: 3;
      margin: 0 10px;
    }
  
    .container {
      display: flex;
      flex-direction: column;
    }
  
    .column{
      flex: 1;
    }
  
  
    .menuLine1{
      position: absolute;
      width: 40px;
      height: 0px;
      left: 370px;
      top: 41px;
      z-index: 1;
  
      border: 2px solid $white;
    }
    .menuLine2{
      position: absolute;
      width: 40px;
      height: 0px;
      left: 370px;
      top: 33px;
      z-index: 1;
  
      border: 2px solid $white;
    }
    .menuLine3{
      position: absolute;
      width: 40px;
      height: 0px;
      left: 370px;
      top: 25px;
      z-index: 1;
  
      border: 2px solid $white;
    }
  
    .menuProjects{
      z-index: -1;
    }
  
  
    .menuAboutUs{
      z-index: -1;
    }
  
    .menuStories{
      z-index: -1;
    }
  
    .menuContact{
      z-index: -1;
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 768px) {
      $source-sans-pro: 'Source Sans Pro', sans-serif;
      $oswald: 'Oswald', sans-serif;
      $black: #000000;
      $white: #FFFFFF;
      $light-gray: rgba(255, 255, 255, 0.4);
      $medium-gray: #666666;
      $dark-gray: #464547;
  
      .footerText {
        font-family: $source-sans-pro;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        justify-content: left;
        margin-left: 50px;
        color: $light-gray;
      }
  
      .footerTitle {
        font-family: $source-sans-pro;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-left: 50px;
        color: $white;
      }
  
      .bodyText {
        font-family: $source-sans-pro;
        font-style: normal;
        text-align: justify;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 400px;
        margin: 0 auto;
        color: $black;
      }
  
      .subHeaderTitle {
        font-family: $oswald;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        margin: 0 20px;
        text-align: left;
        color: $dark-gray;
      }
  
      .subHeaderText {
        font-family: $source-sans-pro;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin: 0 20px;
        text-align: left;
        color: $medium-gray;
      }
    }
  }