$text-color: #FFFFFF;
$primary-color: #39C2D7;
$secondary-color: #55C2D8;

$background-image: url(../assets/Desktop_Backgrounds_1920x1200_6_3.png);
$points-image: url(../assets/Union.png);
$rectangle-image: url(../assets/Rectangle_6.png);
$body-image: url(../assets/IMG_1334_72dpi_RGB_1.png);
$logo1-image: url(../assets/Logo1.png);
$logo2-image: url(../assets/Logo2.png);
$footer-bg: #464547;

/* Media query breakpoint */
$mq-breakpoint: 768px;


$menu-font-family: 'Source Sans Pro';
$menu-font-weight-bold: 600;
$menu-font-weight-normal: 400;
$menu-font-size: 14px;
$menu-line-height: 16px;
$menu-letter-spacing: 0.2em;
$menu-text-transform: uppercase;
$menu-color: #FFFFFF;

$column-basis: 25%;
$menu-line-zindex: -1;

$white: #FFFFFF;
$font-family: 'Source Sans Pro';
$font-weight-bold: 600;
$font-size: 20px;
$line-height: 16px;
$letter-spacing: 0.1em;


$header-font-family: 'Oswald';
$header-font-weight: 700;
$header-font-size: 48px;
$header-line-height: 64px;
$header-text-color: #FFFFFF;

$sub-header-font-family: 'Source Sans Pro';
$sub-header-font-weight: 400;
$sub-header-font-size: 24px;
$sub-header-line-height: 32px;
$sub-header-text-color: rgba(255, 255, 255, 0.7);

$sub-header-title-font-weight: 700;
$sub-header-title-color: #464547;

$sub-header-text-font-size: 24px;
$sub-header-text-color: #666666;

$body-text-font-family: 'Source Sans Pro';
$body-text-font-style: normal;
$body-text-text-align: justify;
$body-text-font-weight: 400;
$body-text-font-size: 16px;
$body-text-line-height: 22px;
$body-text-width: 983px;
$body-text-margin: 0 auto;
$body-text-color: #000000;

$sub-body-text-font-family: 'Source Sans Pro';
$sub-body-text-font-weight: 400;
$sub-body-text-font-size: 24px;
$sub-body-text-line-height: 32px;
$sub-body-text-text-align: center;
$sub-body-text-color: #FFFFFF;

$footer-text-font-family: 'Source Sans Pro';
$footer-text-font-weight: 400;
$footer-text-font-size: 16px;
$footer-text-line-height: 19px;
$footer-text-text-align: left;
$footer-text-justify-content: left;
$footer-text-margin-left: 100px;
$footer-text-color: rgba(255, 255, 255, 0.4);

$footer-title-font-family: 'Source Sans Pro';
$footer-title-font-weight: 400;
$footer-title-font-size: 18px;
$footer-title-line-height: 16px;
$footer-title-letter-spacing: 0.2em;
$footer-title-text-transform: uppercase;
$footer-title-margin-left: 100px;
$footer-title-color: #FFFFFF;

$font-family: 'Source Sans Pro';
$font-weight-normal: 400;
$font-weight-bold: 700;
$text-color: #000000;
$accent-color: #FFFFFF;
$footer-color: rgba(255, 255, 255, 0.4);
$footer-title-color: #FFFFFF;
$letter-spacing: 0.2em;
$footer-margin-left: 100px;

$desktop-width: 983px;
