@import '/css-preprocessors/sass/variables';

.textButton {
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: $text-color;
}

.playButton {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $primary-color;
    color: $text-color;
    font-size: 75px;
    line-height: 50px;
    border: 2px solid $secondary-color;
    animation: colorPlay 1s ease-in-out forwards;

    &:hover {
        animation: colorPlayBack 1s ease-in-out forwards;
        background-color: $text-color;
        color: $primary-color;
        border: 2px solid $text-color;
    }
}

.detailsButton {
    margin: 10px auto;
    background: $secondary-color;
    border-radius: 18px;
    border: 2px solid $secondary-color;
    animation: downButton 1s linear both;

    &:hover {
        animation: downButtonBack 1s linear both;
    }

    @media screen and (max-width: 768px) {
        margin: 10px 20px;
        float: left;
    }
}

@keyframes downButton {
    from {
        transform-origin: left bottom;
        transform: rotate(10deg);
    }
    to {
        transform-origin: left bottom;
        transform: rotate(0deg);
    }
}

@keyframes downButtonBack {
    from {
        transform-origin: left bottom;
        transform: rotate(0deg);
    }
    to {
        transform-origin: left bottom;
        transform: rotate(10deg);
    }
}

@keyframes colorPlay {
    to {
        transform: scale(1.2);
    }
}

@keyframes colorPlayBack {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(0.9);
    }
}
