@import '/css-preprocessors/sass/variables';

.menuProject {
  position: absolute;
  width: 91px;
  height: 16px;
  left: 152px;
  top: 55px;
  z-index: 1;

  font-family: $menu-font-family;
  font-style: normal;
  font-weight: $menu-font-weight-bold;
  font-size: 20px;
  line-height: $menu-line-height;

  letter-spacing: $menu-letter-spacing;
  text-transform: $menu-text-transform;
  text-decoration: none;

  color: $menu-color;

}

.menuProjects{
  position: relative;
  width: 100px;
  height: 16px;
  left: 400px;
  top: 46px;
  z-index: 1;

  font-family: $menu-font-family;
  font-style: normal;
  font-weight: $menu-font-weight-normal;
  font-size: $menu-font-size;
  line-height: $menu-line-height;

  letter-spacing: $menu-letter-spacing;
  text-transform: $menu-text-transform;
  text-decoration: none;

  color: $menu-color;

}


.menuAboutUs{
  position: absolute;
  width: 100px;
  height: 16px;
  left: 600px;
  top: 63px;
  z-index: 1;

  font-family: $menu-font-family;
  font-style: normal;
  font-weight: $menu-font-weight-normal;
  font-size: $menu-font-size;
  line-height: $menu-line-height;

  letter-spacing: $menu-letter-spacing;
  text-transform: $menu-text-transform;

  color: $menu-color;

}

.menuStories{
  position: absolute;
  width: 67px;
  height: 16px;
  left: 780px;
  top: 63px;
  z-index: 1;

  font-family: $menu-font-family;
  font-style: normal;
  font-weight: $menu-font-weight-normal;
  font-size: $menu-font-size;
  line-height: $menu-line-height;

  letter-spacing: $menu-letter-spacing;
  text-transform: $menu-text-transform;
  text-decoration: none;

  color: $menu-color;
}

.menuContact{
  position: absolute;
  width: 73px;
  height: 16px;
  left: 930px;
  top: 63px;
  z-index: 1;

  font-family: $menu-font-family;
  font-style: normal;
  font-weight: $menu-font-weight-normal;
  font-size: $menu-font-size;
  line-height: $menu-line-height;

  letter-spacing: $menu-letter-spacing;
  text-transform: $menu-text-transform;
  text-decoration: none;

  color: $menu-color;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    .column{
    flex-basis: $column-basis;
    }
    
    footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    .footerColumn {
    flex: 1;
    margin: 0 10px;
    }
    
    .menuLine1{
    z-index: $menu-line-zindex;
    }
    .menuLine2{
    z-index: $menu-line-zindex;
    }
    .menuLine3{
    z-index: $menu-line-zindex;
    }