@import '/css-preprocessors/sass/variables';

.Header {
    width: auto;
    height: 0%;
    top: 30%;
  
    font-family: $header-font-family;
    font-style: normal;
    font-weight: $header-font-weight;
    font-size: $header-font-size;
    line-height: $header-line-height;
  
    text-align: center;
  
    color: $header-text-color;
  }
  
  .subHeader {
    position: absolute;
    width: 426px;
    height: 56px;
    top: 65%;
  
    font-family: $sub-header-font-family;
    font-style: normal;
    font-weight: $sub-header-font-weight;
    font-size: $sub-header-font-size;
    line-height: $sub-header-line-height;
  
    text-align: center;
  
    color: $sub-header-text-color;
  }
  
  .subHeaderTitle {
    font-family: $sub-header-font-family;
    font-style: normal;
    font-weight: $sub-header-title-font-weight;
    font-size: $header-font-size;
    line-height: $header-line-height;
  
    text-align: center;
  
    color: $sub-header-title-color;
  }
  
  .subHeaderText {
    font-family: $sub-header-font-family;
    font-style: normal;
    font-weight: $sub-header-text-font-weight;
    font-size: $sub-header-text-font-size;
    line-height: $sub-header-text-line-height;
  
    text-align: $sub-body-text-text-align;
  
    color: $sub-header-text-color;
  }

  .bodyText {
    font-family: $font-family;
    font-style: normal;
    text-align: justify;
    font-weight: $font-weight-normal;
    font-size: 16px;
    line-height: 22px;
    width: $desktop-width;
    margin: 0 auto;
    color: $text-color;
}

.subBodyText {
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $accent-color;
}

.footerText {
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    justify-content: left;
    margin-left: $footer-margin-left;
    color: $footer-color;
}

.footerTitle {
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    margin-left: $footer-margin-left;
    color: $footer-title-color;
}