@import '/css-preprocessors/sass/variables';

.headerBackground{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-image: $background-image;
}

.points{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    bottom: 100px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-image: $points-image;
}

.fpoint{
    animation: moveStarts 8s linear infinite;
}

.fpoint2{
    rotate: -180deg;
    animation: moveStartsReverse 8s linear infinite;
}

.rectangle{
    position: absolute;
    top: 625px;
    width: 100%;
    height: 100%;
    left: 0%;
    margin-left: 0%;
    justify-content: center;
    background-size: cover;
    text-align: center;
    padding: 0px;
    background-repeat: no-repeat;
    background-image: $rectangle-image;
}

.bodyBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    top: 1370px;
    align-items: center;
    justify-content: center;
    background-image: $body-image;
    opacity: 0.8;
}

/*Logos*/
.mainLogo{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    padding: 20px;
    top: 35%;
    background-image: $logo1-image;
    animation: rotateLogo 1s cubic-bezier(0.64, 0, 0.78, 0) both;
    animation-play-state: paused ;
}

.mainLogo:hover{
    animation-play-state: running;
}

.footerLogo{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    background-image: $logo2-image;
}

/*Page*/
.secondWindow{
    position: absolute;
    top: 1030px;
}

.footer {
    position: absolute;
    top: 2100px;
    width: 100%;
    left: 0%;
    background: $footer-bg;
    justify-content: left;
    background-size: cover;
    text-align: left;
    background-size: cover;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.stelar {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: 150px;
  height: 150px;
  background-image: url(../assets/Group_28.png);
  animation: rotateStartsMobile 3s infinite both;
  
  @keyframes rotateStartsMobile {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
